<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Project</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <environment include="Development">
       <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro.min.css">
        <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-colors.min.css">
        <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-rtl.min.css">
        <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-icons.min.css">
    </environment>
</head>
<body>

<aside class="sidebar pos-absolute z-2"
       data-role="sidebar"
       data-toggle="#sidebar-toggle-3"
       id="sb3"
       data-shift=".shifted-content">
    <div class="sidebar-header" data-image="images/sb-bg-1.jpg">
        <div class="avatar">
            <img data-role="gravatar" data-email="sergey@pimenov.com.ua">
        </div>
        <span class="title fg-white">Metro 4 Components Library</span>
        <span class="subtitle fg-white"> 2018 © Sergey Pimenov</span>
    </div>
    <ul class="sidebar-menu">
        <li><a><span class="mif-home icon"></span>Home</a></li>
        <li><a><span class="mif-books icon"></span>Guide</a></li>
        <li><a><span class="mif-files-empty icon"></span>Examples</a></li>
        <li class="divider"></li>
        <li><a><span class="mif-images icon"></span>Icons</a></li>
    </ul>
</aside>
<div class="shifted-content h-100 p-ab">
    <div class="app-bar pos-absolute bg-red z-1" data-role="appbar">
        <button class="app-bar-item c-pointer" id="sidebar-toggle-3">
            <span class="mif-menu fg-white"></span>
        </button>
    </div>

    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



        
     <!-- SCRIPTS -->
    <environment include="Development">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
